.container{
    width: 100%;
    height: 100vh;
    background: rgb(20,21,57);
    background: linear-gradient(90deg, rgba(20,21,57,1) 0%, rgba(31,55,86,1) 50%, rgba(20,21,57,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin-left: auto;
    margin-right: 1.25rem;
    width: 120px;
    height: 2.5rem;
    border-radius: .4375rem;
    background-color: transparent;
    border: .1875rem solid #606E85;
    color: #606E85;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: ease all 0.1s;
}

button:hover{
    color: rgba(20,21,57,1);
    background-color: white;
    transition: ease all 0.1s;
}

.footer{
    color: rgb(210, 210, 210);
}

.footer a {
    color: white;
    text-decoration: none;
}

.cheat{
    position: absolute;
    top: calc(60px);
    right: calc(20px);
    width: 12.5rem;
    height: 6.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: ease-in-out all 0.2s;
    border-radius: .625rem;
}

.cheat:hover{
    border: 1px solid white;
    transition: ease-in-out all 0.2s;
}

.cheatTitle{
    color: rgba(255, 255, 255, 0.3);
    width: 10rem;
    text-align: start;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: ease-in-out all 0.2s;
}

.cheat:hover .cheatTitle{
    color: rgba(255, 255, 255, 1);
    transition: ease-in-out all 0.2s;
}
.cheatTitle span {
    margin-left: .9375rem;
}

.cheatButton,
.cheatButton:hover{
    width: 2.5rem;
    background-color: transparent;
    border: none;
    padding: 0;
}

.cheatButton .buttonIcon {
    width: inherit;
    height: inherit;
    color: gray;
    transition: ease-in-out all 0.2s;
    color: rgba(255, 255, 255, 0.3);
}

.cheat:hover .cheatButton .buttonIcon{
    color: rgba(255, 255, 255, 1);
    transition: ease-in-out all 0.2s;
}


@media screen and (max-width:945px) {
    .cheat{
        left: .625rem;
        bottom: .625rem;
        top: calc(100%/1.3);
    }
}
@media screen and (max-width:550px) {
    .cheat{
        width: 8.75rem;
    }
    .cheat .cheatTitle{
        width: inherit;
        text-align: center;
    }
    .cheatButton .buttonIcon{
        width: 1.875rem;
        height: 1.875rem;
        margin-bottom: .3125rem;
    }
}

@media screen and (max-width:600px) {

    .footer{
        font-size: .875rem;
    }
    .button{
        margin-bottom: .3125rem;
    }

}